{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KAMALA INSTITUTE DIGITAL LIBRARY</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/books.css' %}" rel="stylesheet">
</head>

<body>
  <header id="header">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo1">
        <a href="{% url 'adminindex' %}" class="logo2">
          <img src="{% static 'assets/img/cc1.png' %}" alt="" class="img-fluid">
          <h1>KITS(S) DIGITAL LIBRARY</h1>
        </a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'adminindex' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'adminindex' %}#services">Books</a></li>
          <li class="dropdown"><a href="#"><span>course</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>First Year</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'admin_first_year_1_1'  %}">1-1</a></li>
                  <li><a href="{% url 'admin_first_year_1_2'  %}">1-2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Second Year</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'admin_second_year_2_1' %}">2-1</a></li>
                  <li><a href="{% url 'admin_second_year_2_2'  %}">2-2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Third Year</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'admin_third_year_3_1'  %}">3-1</a></li>
                  <li><a href="{% url 'admin_third_year_3_2'  %}">3-2</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="#"><span>Fourth Year</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'admin_fourth_year_4_1'  %}">4-1</a></li>
                  <li><a href="{% url 'admin_fourth_year_4_2'  %}">4-2</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{% url 'admin_fetchusersticket' %}">Tickets</a></li>
          <li><a class="nav-link scrollto" href="{% url 'admin_uploadbooks' %}">Upload</a></li>
          <li><a class="nav-link scrollto" href="{% url 'adminindex' %}#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="{% url 'admin_profile' %}">Profile</a></li>
          <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

  <main id="main" class="main">
    {% block content %}
    <h1>Novels Information Table</h1>
    <div class="container mt-5">
        <!-- Your filter form goes here, similar to the original HTML code -->
    </div>
    <div class="table-responsive">
        <table id="books" class="custom-table">
            <tr>
                <th>Book Name</th>
                <th>Book cover</th>
                <th>Author</th>
                <th>Upload Date</th>
                <th>Genre</th>
                <th>Publish Year</th>
                <th>Download Link</th>
                <th>Operation</th>
            </tr>
            {% for books in Novel %}
            <tr>
                <td>{{ books.book_name }}</td>
                <td><img src="{{ books.image_path }}" alt="Book Image" class="book-image"></td>
                <td>{{ books.book_author }}</td>
                <td>{{ books.upload_date }}</td>
                <td>{{ books.genre }}</td>
                <td>{{ books.publish_year }}</td>
                <td><a href="{{ books.file_path}}" class="download-link" target="_blank">View</a></td>
                <td>
                  <a href="{% url 'update_form_books' table='Novel' id=books.id  next=request.path %}" class="btn btn-primary">Update</a>
                  <a href="{% url 'delete_course' table='Novel' id=books.id  next=request.path %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
              </td> 
            </tr>
            {% empty %}
            <tr><td colspan="9">No books found.</td></tr>
            {% endfor %}
        </table>
        <!-- Add pagination links here if needed -->
    </div>
    {% endblock %}
  </main>

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Replace the following with your footer content -->
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>KITS DIGITAL LIBRARY</h3>
            <p>
              Kamala Institute of Technology & Science
              Singapur, Huzurabad
              Karimnagar, Telangana
              India - 505468</p>
            <strong>Phone:</strong>tel:+91 9177670003<br>
            <strong>Email:</strong>kitssingapuram@yahoo.co.in<br>
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our College</h4>
            <a href="https://www.kitssingapuram.ac.in/new/index.php">@kitssingapuram</a>
          </div>

          <div class="copyright">
            &copy; Copyright <strong><span>KITS</span></strong>. All Rights Reserved
            <div class="social">
              <a href="https://www.twitter.com/kitssingapur" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/kitssingapur" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/kitssingapur" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="https://www.youtube.com/kitssingapur1997" class="google-plus"><i class="bx bxl-youtube"></i></a>
              <a href="https://www.linkedin.com/company/kitss" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
          <!-- End of footer content -->
        </div>
      </div>
    </div>
  </footer>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- Additional custom scripts if needed -->
  <script>
    let logoutTimeout;
  
    function resetLogoutTimeout() {
      clearTimeout(logoutTimeout);
      logoutTimeout = setTimeout(function() {
        // Redirect the user to the logout page after 30 minutes of inactivity
        window.location.href = "{% url 'login' %}";
      }, 1800000); // 1800000 milliseconds = 30 minutes
    }
  
    document.addEventListener("mousemove", resetLogoutTimeout);
    document.addEventListener("keypress", resetLogoutTimeout);
  </script>
</body>

</html>
